# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/testes/dist
/testes/tmp
/testes/out-tsc
# Only exists if Bazel was run
/testes/bazel-out

# dependencies
/testes/node_modules
/testes/package-lock.json

# profiling files
/testes/chrome-profiler-events*.json
/testes/speed-measure-plugin*.json

# IDEs and editors
/testes/.idea
/testes/.project
/testes/.classpath
/testes/.c9/
/testes/*.launch
/testes/.settings/
/testes/*.sublime-workspace

# IDE - VSCode
/testes/.vscode/*
/testes/!.vscode/settings.json
/testes/!.vscode/tasks.json
/testes/!.vscode/launch.json
/testes/!.vscode/extensions.json
/testes/.history/*

# misc
/testes/.sass-cache
/testes/connect.lock
/testes/coverage
/testes/libpeerconnection.log
/testes/npm-debug.log
/testes/yarn-error.log
/testes/testem.log
/testes/typings

# System Files
/testes/.DS_Store
/testes/Thumbs.db

